/*********** BASE STYLES **************/
* {
  margin: 0;
  padding: 0;
  overflow: visible;
  font-family: 'Rajdhani', sans-serif;
  font-size: 100%;
  border-radius: 5px;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

hr,
i {
  color: #630b52;
}

h1 {
  background: #fb7900;
  color: #fff;
  margin-bottom: 30px;
}

/************* NAV STYLES *************/
nav {
  background: #630b52;
  padding: 0;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.nav-toggle {
  transition: all 0.3s linear;
  position: relative;
  right: 15px;
  width: 34px;
  height: 20px;
  background: transparent;
  border: 0;
}

.nav-toggle:focus {
  outline: 0 !important;
}

/* toggle button with 3 line bar (3 spans) which transforms to X on click */
.nav-toggle span {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 2px;
  background: #fb7900;
  border-radius: 2px;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.nav-toggle span:nth-child(2).transform {
  opacity: 0;
  height: 1px;
}

.nav-toggle span:first-child {
  top: 0;
}

.nav-toggle span:first-child.transform {
  top: 50%;
  transform: rotate(-135deg);
  height: 1px;
}

.nav-toggle span:last-child {
  top: 100%;
}

.nav-toggle span:last-child.transform {
  top: 50%;
  transform: rotate(135deg);
  height: 1px;
}

#logo {
  background: #fff;
}

.links {
  width: auto;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  margin-bottom: 0;
  padding-left: 5px;
}

.show-links {
  height: auto;
}

.nav-item {
  background: #fff;
  border: 1px solid #fb7900;
  margin-bottom: 1px;
}

.nav-item:hover {
  background: #fb7900;
}

.nav-link {
  color: #fb7900 !important;
  font-size: 21px;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: #fff !important;
  transition: all 0.3s linear;
}

/************** COVER styles **************/
#cover {
  height: 500px;
  width: 100%;
  margin-top: 120px;
  background: url(./images/cover.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cover-caption {
  display: flex;
  align-items: center;
  justify-content: center;
}

#caption-img-div {
  width: auto;
}

#caption-img {
  width: 240px;
}

#caption-text {
  background: #fff;
  padding: 20px;
  font-size: 18px;
  text-align: justify;
}

/************* SKILLS styles *************/
#skills {
  margin: 20px auto;
}

#skills p {
  font-size: 1.4rem;
}

/********** CERTIFICATES styles **********/
#certificates div {
  margin-bottom: 20px;
}

#certificates {
  margin-top: 50px;
}

#cert-text {
  text-align: justify;
  font-size: 1.4rem;
}

#cert-text ul {
  text-align: left;
}

#certificates span {
  color: #fb7900;
}

li {
  list-style: none;
}

/************ MY WORK styles ************/
#mywork {
  margin-bottom: 20px;
  margin-top: 50px;
}

#projects {
  display: flex;
  flex-flow: column;
  text-align: justify;
  font-size: 1.2rem;
  margin: 10px 5px;
  border: 1px solid #fb7900;
  padding: 10px;
}

@media (max-width: 992px) {
  #projects {
    min-width: 100%;
  }
}

#projects p {
  margin: 20px auto;
}

#projects a {
  text-decoration: none;
  color: #fb7900;
}

#projects a:hover {
  color: #fff;
}

#projects button {
  width: 100px;
  background: #fff;
  border: 1px solid #fb7900;
  align-self: center;
}

#projects button:hover {
  background: #fb7900;
}

/*********** CONTACT styles ***********/
#contact {
  font-size: 1.2rem;
}

#contact h1 {
  margin-bottom: 10px;
  margin-top: 50px;
}

/*********** FOOTER styles ***********/
footer {
  background: #630b52;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 35px;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  padding: 3px;
}

.fa-arrow-circle-up {
  color: #fff;
}

/********* MEDIA QUERIES *********/
@media (max-width: 817px) {
  #cover {
    height: 600px;
    display: flex;
    flex-flow: column;
  }
  #caption-text {
    padding: 10px;
    font-size: 16px;
  }
  #caption-img {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .nav-item {
    width: 90vw;
  }

  .links {
    max-width: 750px;
    margin: 0 auto;
    padding-left: 20px;
  }
}

@media (min-width: 800px) {
  .nav-center {
    display: flex;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  .nav-item {
    margin: 5px;
  }

  .nav-link {
    padding: 5px;
  }
}
